@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div><a class="btn btn-primary" href="~/Movie/New">NEW MOVIE</a></div>
<br />
<table class="table	table-bordered	table-hover">
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => Model[i].Name).ToString(), "Edit", new { id = Model[i].Id })
            </td>
            <td>@Model[i].Genres</td>
        </tr>
    }
</table>

