@using System.Web.Mvc.Html
@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div><a class="btn btn-primary" href="~/Customers/New">NEW CUSTOMER</a></div>
<br />
<table id="customers" class="table	table-bordered	table-hover">
    <tr>
        <th>
            Customers
        </th>
        <th>Membership Type</th>
        <th>Delete</th>
    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => customer.Name).ToString(), "New", new { id = customer.Id })
            </td>
            <td>@customer.MembershipType.Name</td>
            <td><button data-user-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
        </tr>
    }

</table>

@section scripts{
<script src="~/Scripts/ManageCustomer.js"></script>    
}