@using System.Web.Mvc.Html
@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<div><a class="btn btn-primary" href="~/Customers/New">NEW CUSTOMER</a></div>
<br />
<table id="customers" class="table	table-bordered	table-hover">
    <thead>
        <tr>
            <th>
                Customers
            </th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
<script src="~/Scripts/Manage/ManageCustomer.js"></script>    
}